@model Position
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input class="form-control" asp-for="Name">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Desc" class="form-label">Desc</label>
        <input class="form-control" asp-for="Desc">
        <span asp-validation-for="Desc"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ImageFile" class="form-label">Image</label>
        <input class="form-control" asp-for="ImageFile">
        <span asp-validation-for="ImageFile"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
